YB_PCB_CAR_PATH=/home/farmscout/Raspbot/2.Hardware Control course/02.Drive motor

RASPBOT_FORWARD_SPEED=45
RASPBOT_TURN_SPEED=35
RASPBOT_SLOW_SPEED=25
RASPBOT_EMERGENCY_STOP_CM=10
RASPBOT_CAUTION_CM=20
